<!--
    <label class="field-label" ng-hide="clone.cloned" for="{{field.id}}">{{field.title}}</label>
    <input ng-required="field.required" ng-if="!clone.cloned" id="{{field.id}}" name="{{field.id}}" ng-model="field.value" type="datetime-local" datepicker="field.value" class="text-input"/>
    <input ng-required="field.required" ng-if="clone.cloned" id="{{field.id}}" name="{{field.id}}" ng-model="clone.value" type="datetime-local" datepicker="clone.value" class="text-input" />


     
    -->
<ons-row >
    <ons-col width="30%" for="{{field.id}}" >
        <font style="font-weight:bold; font-size:0.8em; color:#8f8f8f;" ng-hide="clone.cloned" >
            {{field.title}}
        </font>
    </ons-col>
    <ons-col>
        <font style="font-size:0.8em; ">
            <input ng-required="field.required" ng-if="!clone.cloned" id="{{field.id}}" name="{{field.id}}" ng-model="field.value" type="datetime-local" datepicker="field.value" class="text-input" style="width:90% !important;"/>
            <input ng-required="field.required" ng-if="clone.cloned" id="{{field.id}}" name="{{field.id}}" ng-model="clone.value" type="datetime-local" datepicker="clone.value" class="text-input"style="width:90% !important;" />
        </font>
    </ons-col>
</ons-row>