<ons-page ng-controller="SelectTemplateController">
   
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Select Template</div>
    </ons-toolbar>
    
    <input class="search search-input" type="search" placeholder="Search Templates..." ng-model="search.title" />
    <br>
    <ons-list class="list-top">
        <ons-list-item modifier="chevron" ng-repeat="template in templates | filter: search" id="{{template.id}}">
            <ons-row ng-click="selectTemplate(template.id, template.index)">
                <ons-col width="10%" >
                    <font ><div style="border-radius:50%; background:{{template.color}}; color:white; text-align:center;width:24px;height:24px; margin-top:14px;padding:0px; line-height:20px;"><i class="fa {{template.icon}}" style="margin-top:4px;"></i></div></font>
                </ons-col>
                <ons-col>
                    {{template.title}}
                </ons-col>
                
            </ons-row>
        </ons-list-item>
    </ons-list>
</ons-page>